p {
  color: rgb(108, 117, 125);
  margin: 5px auto 5px auto;
  font-size: 12px;
}

.email-input {
  border-style: solid;
  border-radius: 3px;
  width: 270px;
}

button {
  padding: 15px 100px;
  border: none;
  border-radius: 20px;
  background-color: rgb(20, 91, 162);
  color: white;
}
