.flex{
    display: flex;
    flex-direction: row;
}

.col-1{
    width: 50px;
    background-color: lightblue;
}

.col-2{
    flex: 1;
    background-color: lightpink;
}
.col-3{
    width: 75px;
    background-color: lightblue;
}