.ytBtn {
  background-color: rgb(211, 4, 4);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  border-radius: 1px;
  margin-right: 5px;
  transition: opacity 0.15s;
}
.ytBtn:hover {
  opacity: 0.4;
}
.joinBtn {
  background-color: white;
  color: rgb(19, 190, 190);
  border: 1px solid rgb(4, 155, 155);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 2px;
  margin-right: 10px;
  transition: background-color 0.15s, color 0.15s;
}
.joinBtn:hover {
  background-color: rgb(19, 190, 190);
  color: white;
}
.twitBtn {
  background-color: rgb(3, 189, 189);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.twitBtn:hover {
  border: 1px solid aqua;
  background-color: white;
  color: rgb(19, 190, 190);
}
