.item-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}
.item1-container{
    height: 75px;
    width: 100px;
    background-color: lightcoral;
    border: none;

}
.item1{
    background-color: black;
    color: white;
    display: flex;
    width: 40px;
    margin-left: 30px;
    margin-top: 20px;
}
.item2{
    height: 75px;
    width: 200px;
    border: none;
    background-color: lightblue;
}
.row2-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.row2,.row3{
    background-color: black;
    color: white;
}