@font-face{
    font-family: monstreat;
    src:url('../FONTS/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
    src:url('../FONTS/Montserrat/Montserrat-VariableFont_wght.ttf');

}


body{
    height:1000px;
    overflow-x: hidden;
}
.header{
    background-color: rgba(0, 0, 0, 1);
    height: 46px;
    width: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
.header-list{
    display: flex;
    flex-direction: row;
    height: 48px;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
}
.header-list a{
    color: rgb(219, 216, 216);
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;  
    transition: color 0.15s;
}
.header-list a:hover{
    color: white 
}
.search-icon, .cart{
    height: 18px;
    border: none;
    border-radius: 10px;
    opacity: 0.6;  
    cursor: pointer;
    transition: opacity 0.15s;
}
.search-icon:hover,.cart:hover{
   opacity: 1;
}

.offer{
    display: grid;
    position: absolute;
    top: 46px;
    right: 0px;
    left: 0px;
    background-color: rgb(221, 218, 218);
    height: 46px;
    width: auto;
    align-items: center;
}
.offer-msg-box{
    margin-left: 300px;
}
.offer-msg{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.8);

}
.learn-more-about-offer{
    text-decoration: none;
    font-size: 14px;

}
.system1-main-grid{
    background-color: black;
    position: absolute;
    top: 92px;
    left: 0px;
    height: 220px;
    width: 100%;
    
    
}
.system1-name-block{
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 105px;
}
.system1-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 53px;
    letter-spacing: -0.005em;
    line-height: 1.07143;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}
.system1-technology{
   display: block;
   height: 68px;
   margin-top: -35px;
   margin-bottom: 0px;
}
.tech-logo{
    z-index: 100;
    height: 68px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.system1-info-price
{
    position: relative;
    top: 0;
    left: 42%;

    justify-content: center;
    align-items: center;
    margin-top: 15px;

}
.system1-info-price a {
    margin-right: 40px;
    color: rgb(95, 195, 234);
    font-size: 18px;
    text-decoration: none;
}
.link{
    font-weight:500;
}
.link:hover{
    text-decoration: underline;
}
.main-system1-pic{
    z-index: 1;
    overflow: visible;
    height: 100%;
    width: 100%;
    object-position:center;
    padding-top: 0px;
    padding: 0px;
}

@font-face{
    font-family: system2;
    src:url('../FONTS/Roboto/Roboto-Bold.ttf')
}
.system2-main-grid{
    position: absolute;
    top: 650px;
    left: 0;
    width: 100%;
    background-color: red;
    margin-top: 17px;
    height: 220px;
}
.system2-details{

}
.system2-name-block{

}
.system2-name{
    font-family: system2;
    font-size: 56px;
}
.system2-tech{

}
.system2-avilability{

}
.system2-price-info{

}

