p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.desc {
  font-size: 20px;
}
span {
  text-decoration: underline;
}
