div {
  background-color: rgb(44, 39, 39);
  width: 310px;
  padding: 10px 10px 15px 10px;
}

p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 15px;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
  color: white;
}

.desc {
  color: rgb(172, 173, 174);
}
